name: build-rootlist

on:
  push:
    branches: [ main ]
    paths:
      - "list.json"
      - "scripts/build_rootlist.py"
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install tldextract

      - name: Build rootlist
        run: |
          python scripts/build_rootlist.py

      - name: Upload rootlist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rootlist
          path: rootlist
